.env
.DS_Store
/backups/*
/config/bazarr/*
/config/duplicati/*
/config/jackett/*
/config/lidarr/*
/config/ombi/*
/config/organizr/*
/config/plex/*
/config/portainer/*
/config/radarr/*
/config/sonarr/*
/config/tautulli/*
/config/transmission/*
/downloads/complete/*
/downloads/incomplete/*
/media/movies/*
/media/music/*
/media/tv/*
/transcode/*
!*/.gitkeep
!*/*/.gitkeep